@charset "utf-8";

/*common*/
html,body{
	height: 100%;
	font-family: Helvetica,游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
body{
        -webkit-text-size-adjust: 100%;

}
a{
	text-decoration: none;
	color:black;
}
img{
	vertical-align: bottom;
}


.ovh{
	overflow: hidden;
}

.f_left{
	float: left;
}

.f_right{
	float: right;
}

.po_re{
	position: relative;
}

.po_ab{
	position: absolute;
}

.dblock{
	display: block;
}

.wrap{
	width: 756px;
	margin: 0 auto;
}

section,.facebookLink{
	padding: 33px 0;
	width: 800px;
	margin: 0 auto;
}

/*mordal*/
.mordal01cont,.mordal02cont{
	display: none;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	color: #666666;
	position:fixed;
	z-index: 2000;
}
.mordal-cl{
	top:9px;
	right: 12px;
}
.mordal-bg{
	display: none;
	width: 100%;
	height: 130%;
	background-color: rgba(0,0,0,0.5);
	position:fixed;
	top:0;
	left:0;
	z-index: 1999;
}

/*movie*/
.movie{
	background: #397EB9;
}
.movie h2{
	padding: 0 0 7px 0 ;
	text-align: center;
} 
.moviecont{
	width: 734px;
	margin: 0 auto;
	padding: 10px;
	background: white;
	border-radius: 10px;
}
/*#mainmovie{
	top:0;
	left: 0;
}*/
.moviebg video{
	width: 734px;
	height:413px;
}
#cover{
	width: 734px;
	height: 413px;
	z-index: 999;
	background-image: url(../img/movie/ttl.png);
	background-repeat: no-repeat;
	overflow: hidden;
	top:0;
	left: 0;
	background-position-y:-23px;
}
.moviecont .movielist{
	margin-top: 10px;
}
.moviecont .movielist ul{
	position: relative;
	top:0;
	left:0;
	margin-right:160px;
}
.moviecont .movielist ul li{
	float: left;
	margin-right:10px;
	width: 52px;
	height: 52px;
}
.moviecont .movielist ul li:last-child{
	margin-right: 0;
}
.moviecont .movielist ul li a{
/*	display: inline-block;*/
	display: block;
	width: 52px;
	height: 52px;
	transition:0.5s all;
	opacity: 1;
}
.moviecont .movielist ul li a{
	display: inline-block;
}
.moviecont .movielist ul li a:hover{
	opacity: 0;
}

.moviecont .movielist ul li:nth-of-type(1){
	background-image: url(../img/movie/movie01Btn_on.png);
}
.moviecont .movielist ul li:nth-of-type(1) a{
	background-image: url(../img/movie/movie01Btn.png);
}
.moviecont .movielist ul li:nth-of-type(2){
	background-image: url(../img/movie/movie02Btn_on.png);
}
.moviecont .movielist ul li:nth-of-type(2) a{
	background-image: url(../img/movie/movie02Btn.png);
}
.moviecont .movielist ul li:nth-of-type(3){
	background-image: url(../img/movie/movie03Btn_on.png);
}
.moviecont .movielist ul li:nth-of-type(3) a{
	background-image: url(../img/movie/movie03Btn.png);
}
.moviecont .movielist h1{
	position: relative;
	top:26px;
}
/*recommend*/
.recommend{
	background: #E35504;
}
.recommend h2{
	margin: 10px 0;
}

/*facebookLink"*/
.facebookLink{
	background: white;
}

/*referee & changejob*/
.referee{
	background: #79B548;
}
.changejob{
	background: #00B3E9;
}
.referee h2,.changejob h2{
	margin-bottom: 15px;
}
.referee  ul,.changejob ul{
	width: 740px;
	margin: 0 auto;
}
.referee ul li,.changejob ul li{
	float: left;
}

.referee a,.changejob a{
	display: block;
	text-align: right;
	margin-top: 10px;
}


/*trustco*/
.trustco{
	background: #397EB9;
}
.trustcocont{
	margin-top: 28px;
}
.trustcocont h2{
	top:0;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
footer{
	color: white;
	font-size: 12px;
	margin-top: 10px;
}

